@media (min-width: 992px) {
	.nav.d-lg-block {
		display: flex !important;
	}
}
@media (max-width: 1600px) {
	.content {
		overflow: hidden;
	}
}
@media (max-width: 992px) {
	main {
		margin-top: 82px;
	}
	.container {
		padding: 0 30px;
		&-content {
			padding: 50px 30px;
		}
	}
	.nav {
		&-contacts {
			&-items {
				margin-top: 20px;
			}
		}
	}
	.header {
		&-title {
			font-size: max(30px, min(55px, calc(var(--base-scale) * 5)));
			span {
				font-size: max(30px, min(40px, calc(var(--base-scale) * 5)));
			}
		}
		&-intro {
			height: 100%;
			&-wrap {
				background-position: bottom -3vw right -135px;
				background-size: clamp(300px, 100%, 450px);
			}
		}
		&-info {
			margin-top: 300px;
			margin-right: 0;
		}
		&-modal-btn {
			grid-column: 1 / span 7;
			justify-content: flex-start;
			margin-top: 100px;
			margin-bottom: 100px;
			font-size: 16.5px;
		}
		&-promo {
			font-size: 17.5px;
		}
	}
	.preloader {
		display: none;
	}

	.contacts {
		&-wrap {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

@media (max-width: 700px) {
	.header {
		&-title {
			font-size: max(40px, min(50px, calc(var(--base-scale) * 5)));
			span {
				font-size: max(20px, min(35px, calc(var(--base-scale) * 5)));
			}
		}
	}
}

@media (max-width: 670px) {
	.footer {
		&-info {
			&-left {
				flex-direction: column;
				align-items: center;
			}
		}
		&-privacy-policy a {
			text-align: center;
		}
		&-copyright {
			text-align: center;
		}
	}
}

@media (max-width: 612px) {
	.header {
		&-info {
			margin-top: 250px;
		}
	}
}

@media (max-width: 577px) {
	.container-content {
		padding: 35px 30px;
	}
	.title h1 {
		font-size: var(--h1-mob-font-size);
	}
	.title h2 {
		font-size: var(--h2-mob-font-size);
	}
	.nav-mobile .navbar {
		padding: 0 10px;
	}
	.modal-header-title {
		font-size: max(22px, min(50px, var(--base-scale) * 5));
	}
	.header {
		&-intro {
			&-wrap {
				background-image: none;
				justify-content: center;
			}
		}
		&-info {
			text-align: center;
		}
		&-modal-btn {
			flex-direction: column-reverse;
			align-items: normal;
			margin-top: 15px;
			margin-bottom: 60px;
			&-qw {
				margin-left: 0;
				margin: 15px 0;
				text-align: center;
			}
		}
		&-title {
			line-height: 50px;
		}
		&-promo {
			font-size: 16.5px;
		}
	}
	.footer {
		&-info {
			&-title {
				text-align: center;
			}
		}
	}
}
@media (max-width: 395px) {
	.input-box-chekbox {
		align-items: center;
	}
}

@media (max-width: 340px) {
	.title h2 {
		font-size: max(27px, min(50px, var(--base-scale) * 5));
	}
	.footer {
		&-info {
			.title {
				h2 {
					font-size: max(35px, min(50px, var(--base-scale) * 5));
				}
			}
			&-item {
				.title {
					h2 {
						font-size: max(24px, min(50px, var(--base-scale) * 5));
					}
					h3 {
						font-size: max(24px, min(50px, var(--base-scale) * 5));
					}
				}
				.phone-link {
					font-size: max(30px, min(50px, var(--base-scale) * 5));
				}
			}
		}
		&-social {
			&-item:not(:last-child) {
				margin-right: 25px;
			}
		}
	}
}

@media (max-width: 320px) {
	.header {
		&-title {
			font-size: max(35px, min(50px, var(--base-scale) * 5));
		}
	}
}
