.nav {
	&-mobile {
		position: fixed;
		z-index: 50;
		background-color: var(--black);
		width: 100%;
		top: 0;
		opacity: 1;
		transition: 0.2s ease-out;
		.navbar {
			padding: 0 20px;
		}
		.nav-logo {
			margin: 15px 0;
		}
		.hr {
			height: 1px;
		}
		.hr-vert {
			width: 1.5px;
			left: 0;
		}
	}
	&-mobile.hidden {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}
}

.offcanvas-header {
	.nav-logo {
		margin: 0;
	}
}
.offcanvas-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
	.nav-list {
		flex-direction: column;
		.nav-item {
			margin: 12px 0;
		}
		.nav-item a::before {
			height: 4px;
			top: 27px;
		}
		.nav-item .active span::before {
			height: 4px;
			top: 27px;
		}
	}
}
